.peb-user {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #1890ff;
  border-radius: 5px;
  h3 {
    margin: 0;
    color: #fafafa;
    font-weight: bold;
    font-size: 12px;
  }
}
