.peb-card {
  background-color: #fff;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  &-product-image {
    background: gray;
  }
}
.peb-card-2 {
  background-color: #fff;
  border-radius: 10px;
  max-width: 500px;
  &-product-image {
    overflow: hidden;
    background: gray;
  }
  &-body {
    background: white;
  }
}
.peb-card-2.product {
  position: relative;
  overflow: hidden;
  color: #a8a8a8;
  .product-name,
  .product-button {
    font-weight: bold;
  }
  .price {
    font-weight: bold;
    color: #a8a8a8;
    font-size: 18px;
    margin: 0;
  }
}
@media (max-width: 398px) {
  .search-page .ant-card-body {
    padding: 0 !important;
  }
}
