.peb-dflex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.peb-mb-2 {
  margin-bottom: 20px;
}

.peb-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.cont-fixid {
  position: fixed;
}

.peb-dflex-column {
  display: flex;
  flex-direction: column;
}
.peb-dflex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peb-list.peb-list-flex {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 68px;
  padding-right: 68px;
}
.peb-img-responsive {
  width: 100%;
  height: auto;
}
@media (max-width: 722px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }
}
