@import "variable";
@import "typography";
@import "wrapper";
@import "card";
@import "carousel";

.ant-dropdown-link {
}
h3 {
  font-weight: bold;
}

ul.peb-list {
  list-style: none;
  li.peb-list-item {
  }
}

.peb-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.peb-social {
  margin-left: 20px;
}

.peb-link-whatsapp {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-weight: 500;
  color: black;
}
.peb-product-detail {
  &-name {
    font-weight: bold;
    font-size: 24px;
  }
}
.peb-product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &- {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #8c8c8c;
  }
}
.peb-navbar-top-auth {
  &-logged {
    cursor: pointer;
    background: #ececec;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 36px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
      font-weight: bold;
      font-size: 12px;
    }
  }

  &-img {
    position: absolute;
    right: -10px;
    background-color: #1890ff;
    top: -20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      top: 20px;
      width: 20px;
      height: 26px;
    }
  }
}
.product-detail{
  background-color: white;
}