.peb-umkm-modal-header-one {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  &-chat {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
